.projectsDisplay {
    width: 80vw;
    margin: auto;
  }
  
  .projectsDisplay h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 7px;
  }
  
  .projectsDisplay ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
  }
  
  .projectsDisplay ul li {
    margin: 5px;
    padding: 3px;
    justify-content: center;
    text-align: center;
  }
  
  .projectsDisplay ul li:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow); /* Replace $shadow with CSS variable */
    border-radius: 7px;
  }
  
  .projectsDisplay ul li a {
    text-decoration: underline solid 1px;
    border: none;
    background-color: var(--background-body); /* Replace $background-body with CSS variable */
    font-size: 1.3rem;
    color: var(--secondary-tipography); /* Replace $secondary-tipography with CSS variable */
  }
  