/*


//Light mode
$fondo-header: #c19770;
$underline-nav: #e8dcb5;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
$background-footer: #6b6c65;
$background-body: #d5b895;
$primary-tipography: #ffffff;
$secondary-tipography: #000000;


//Dark mode
$fondo-header: #015958;
$underline-nav: #0fc2c0;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
$background-footer: #454546;
$background-body: #0caba8;
$primary-tipography: #ffffff;
$secondary-tipography: #000000;


//paleta de colores beige
$beige1: #a67a5b;
$beige2: #c19770;
$beige3: #d5b895;
$beige4: #faf0dc;
$beige5: #e8dcb5;

//paleta de colores azul
$azul1: #023535;
$azul2: #015958;
$azul3: #008f8c;
$azul4: #0caba8;
$azul5: #0fc2c0;

//paleta de colores gris
$gris1: #3c3c3c;
$gris2: #515151;
$gris3: #666666;
$gris4: #8c8c8c;
$gris5: #b5b5b5;

//paleta de colores gris-celeste
$gris-celeste1: #454546;
$gris-celeste2: #666666;
$gris-celeste3: #8c8c8c;
$gris-celeste4: #5dc1b9;
$gris-celeste5: #8ae0db;

//tonos genéricos
//$background-body: #fdf4eb;
//$background-header: #e7cfb0;
//$background-footer: #6b6c65;