.main{
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        
            p{
                margin: 10px auto;
                font-size: 1.1rem;
                width: 80vw
            }
            .title{
                font-size: 1.3rem;
                margin: 10px auto;
                }
                .text{
                    font-size: 1rem;
                    text-align: justify;
                    width: 70%;
                    margin: auto;
                }
        
    }
    /*.progress-bar {
        height: 5px;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        z-index: 9999;
    }*/
}
.skillsDisplay{
    width: 80vw;
    margin: auto;
    h1{
        text-align: center;
        font-size: 2rem;
        margin: 7px;
    }
    ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    li{
        margin: 17px;
        padding: 3px;
        justify-content: center;
        text-align: center;
        &:hover{
            transform: scale(1.05);
        }
        button{
            text-decoration: none;
            border: none;
            background-color: $beige3;
            font-size: 1.3rem;
            
        }
    }
    }
}