* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --fondo-header: #c19770;
  --underline-nav: #e8dcb5;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  --background-footer: #6b6c65;
  --background-body: #d5b895;
  --primary-tipography: #ffffff;
  --secondary-tipography: #000000;
}

[data-theme="dark"] {
  --fondo-header: #015958;
  --underline-nav: #0fc2c0;
  --background-footer: #454546;
  --background-body: #0caba8;
  --primary-tipography: #ffffff;
  --secondary-tipography: #000000;
}

body{
  background-color: var(--background-body);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--fondo-header);
  height: 150px;
  width: 100vw;
}
header nav {
  height: 150px;
}






/* NavBar.css */

/* Estilos para el componente NavBar */
/* Ocultar los enlaces en vista móvil */
@media screen and (max-width: 767px) {
  nav ul li:not(:last-child) {
    display: none;
  }
}

/* Estilos para el componente DeployableMenu */
/* Mostrar el DeployableMenu solo en vista móvil */
@media screen and (min-width: 768px) {
  nav ul li:last-child {
    display: none;
  }
}




@media screen and (min-width: 768px) {




header nav ul {
  height: 150px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--fondo-header);
  border: none;
}
header nav ul .profilePic {
  height: 150px;
  width: auto;
}
header nav ul li {
  text-decoration: none;
  font-size: 1.4rem;
}
header nav ul li:hover {
  transform: scale(1.05);
}
header nav ul li .a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 360;
  padding: 3px;
}
header nav ul li .a:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
header nav ul li .activeLink {
  text-decoration: underline 2px solid var(--underline-nav);
}
header nav ul li img {
  height: 150px;
  width: 150px;
}
header nav ul li div .Languages:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}*/

.main {
  max-width: 100vw;
}

.main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.main div p {
  margin: 10px auto;
  font-size: 1.1rem;
  width: 80vw;
}

.main div .title {
  font-size: 1.3rem;
  margin: 10px auto;
}

.main div .text {
  font-size: 1rem;
  text-align: justify;
  width: 70%;
  margin: auto;
}*/

/*.skillsDisplay {
  max-width: 100vw;
  margin: auto;
}

.skillsDisplay div {
  text-align: center;
  margin: 7px;
}

.skillsDisplay div h1 {
  font-size: 2rem;
}

.skillsDisplay div h3 {
  font-size: 1rem;
}

.skillsDisplay ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
  max-width: 100vw;
}

.skillsDisplay ul li {
  margin: 17px;
  padding: 3px;
  justify-content: center;
  text-align: center;
}

.skillsDisplay ul li button {
  text-decoration: none;
  border: none;
  background-color: var(--background-body);
  font-size: 1.3rem;
  justify-content: center;
  align-content: center;
}

.skillsDisplay ul li button img {
  height: 150px;
  padding: 3px;
  width: auto;
  border-radius: 7px;
}

.skillsDisplay ul li button img:hover {
  transform: scale(1.01);
  cursor: pointer;
}*/

/*.projectsDisplay {
  width: 80vw;
  margin: auto;
}

.projectsDisplay h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 7px;
}

.projectsDisplay ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
}

.projectsDisplay ul li {
  margin: 5px;
  padding: 3px;
  justify-content: center;
  text-align: center;
}

.projectsDisplay ul li:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow);
  border-radius: 7px;
}

.projectsDisplay ul li a {
  text-decoration: underline solid 1px;
  border: none;
  background-color: var(--background-body);
  font-size: 1.3rem;
  color: var(--secondary-tipography);
}*/

/*.contactPage div h1,
.contactPage div h3 {
  padding: 7px;
  margin: 7px auto;
  text-align: center;
}

.contactPage div h1 {
  font-size: 1.8rem;
}

.contactPage div h3 {
  font-size: 1rem;
}

.contactPage ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.contactPage ul li a img {
  width: 150px;
  height: 150px;
  padding: 3px;
  margin: 50px 7px;
}

.contactPage ul li a img:hover {
  transform: scale(1.01);
  border-radius: 7px;
}*/

/*.main {
  max-width: 100vw;
}
.main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.main div p {
  margin: 10px auto;
  font-size: 1.1rem;
  width: 80vw;
}
.main div .title {
  font-size: 1.3rem;
  margin: 10px auto;
}
.main div .text {
  font-size: 1rem;
  text-align: justify;
  width: 70%;
  margin: auto;
}

.skillsDisplay {
  max-width: 100vw;
  margin: auto;
}
.skillsDisplay div {
  text-align: center;
  margin: 7px;
}
.skillsDisplay div h1 {
  font-size: 2rem;
}
.skillsDisplay div h3 {
  font-size: 1rem;
}
.skillsDisplay ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
  max-width: 100vw;
}
.skillsDisplay ul li {
  margin: 17px;
  padding: 3px;
  justify-content: center;
  text-align: center;
}
.skillsDisplay ul li button {
  text-decoration: none;
  border: none;
  background-color: #0caba8;
  font-size: 1.3rem;
  justify-content: center;
  align-content: center;
}
.skillsDisplay ul li button img {
  height: 150px;
  width: auto;
  border-radius: 7px;
}
.skillsDisplay ul li button img:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.projectsDisplay {
  width: 80vw;
  margin: auto;
}
.projectsDisplay h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 7px;
}
.projectsDisplay ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
}
.projectsDisplay ul li {
  margin: 5px;
  padding: 3px;
  justify-content: center;
  text-align: center;
}
.projectsDisplay ul li:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.projectsDisplay ul li a {
  text-decoration: underline solid 1px;
  border: none;
  background-color: #0caba8;
  font-size: 1.3rem;
  color: #000000;
}

.contactPage div h1, .contactPage div h3 {
  padding: 7px;
  margin: 7px auto;
  text-align: center;
}
.contactPage div h1 {
  font-size: 1.8rem;
}
.contactPage div h3 {
  font-size: 1rem;
}
.contactPage div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}
.contactPage div ul li a img {
  width: 150px;
  height: 150px;
  padding: 3px;
  margin: 50px 7px;
}
.contactPage div ul li a img:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}*/

/*.foo {
  background-color: #454546;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.foo div p {
  font-size: 1.1rem;
  text-align: center;
  padding: 3px;
}*/

/*
:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    $fondo-header: #c19770;
    $underline-nav: #e8dcb5;
    $shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    $background-footer: #6b6c65;
    $background-body: #d5b895;
    $primary-tipography: #ffffff;
    $secondary-tipography: #000000;

    [data-theme="dark"] & {
        $fondo-header: #015958;
        $underline-nav: #0fc2c0;
        $background-footer: #454546;
        $background-body: #0caba8;
    }
}
*/

}